<!-- css id for main page title  -->
<mat-toolbar color="primary">
  <span>
    TV Show Browser
  </span>
</mat-toolbar>

<div style="display: flex; flex-wrap: wrap;">  
  <div style="background-color: #e0e0e0;">
    <mat-toolbar>
      <p>Looking for more information on a TV Show?</p>
    </mat-toolbar>  
    <mat-toolbar>  
      <p>Use the search function to do a TV show lookup!</p>
    </mat-toolbar>
    <app-tv-search (searchEvent)="doSearch($event)">"darling in"</app-tv-search>
  </div>
  
  <!-- css id for basic description text of what the app does -->
  
  <!-- this will hold the component that displays the api details -->
  <div>
    
    <app-home-screen-show [homeDisplay]="searchDisplay"></app-home-screen-show>
    
  </div>
</div>