<div style='display: flex; flex-flow: row wrap; flex-wrap: wrap; flex-direction: row;'>
    <div>
        <img [src]="display.tvShowImg.medium" />
        
    </div>

    <div>
        <mat-card >
            <span>{{ display.tvShowTitle }}</span>
            <span>{{ display.tvShowRating }}</span>
            <span>{{ display.tvShowRunningStatus }}</span>
            <span>{{ display.tvShowLanguage }}</span>
            <span>{{ display.tvShowDesc }}</span>
        </mat-card>
    </div>
</div>
